<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Marcas</h1>

    <a th:href="@{/marcas/registrar}">Registre nueva marca</a>
    
    <table>
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="brand : ${brands}">
                <td>
                    <img th:src="${brand.urlImages.size() > 0? brand.urlImages.get(0): ''}" alt="Imagen" width="100" height="100">
                </td>
                <td th:text="${brand.name}"></td>
                <td>
                    <a th:href="@{/marcas/{id}(id=${brand.id})}">Editar</a>
                    <a th:href="@{/marcas/{id}/eliminar(id=${brand.id})}">X</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>